<section id="banner"
         style="background-image:url('<%= image_path 'banner.jpg' %>')"
         class="<%= headerclass %>">
<div id="content">
   <%= inline_svg 'logoshield-cercle.svg', id:"main_icon" %>
   <h2>shield</h2>
   <p>RwlRwlRwlRwl</p>
</div>
</section>
