<section id="resume" class="wrapper style1">
   <section class="container style1 justify">
      <div class="inner style1" id="whoarewe">
         <header>
            <h2 class="center">à propos de l'association</h2>
            <h1 class="center">faire s'ouvrir les gamers</h1>
         </header>
         <article>
            <h4>qui sommes nous ?</h4>
            <p>
               Le Shield est une association qui a pour but premier de rassembler une communauté de personnes autour d’une même passion qu’est le jeu vidéo. Cela passe par l’organisation d’activités liées à l’e-sport, telles que des tournois ou des sessions de streaming, mais aussi de pouvoir échanger sur le milieu du jeu vidéo afin d’accroître nos connaissances. Notre motivation première est de créer de l’interaction entre les personnes. Voilà pourquoi nous proposons des évènements sur tout type de plateforme et tout type de jeu. La compétition reste un aspect primordial de notre confrérie, tout en conservant un climat de joie et de bonne humeur. Notre projet est de faire des rencontres et partager notre passion avec de nombreux joueurs.
            </p>
            <p>
               Force &#38; Honneur.
            </p>
         </article>
      </div>
   </section>
   <% if @posts.any? %>
   <% @posts.each_with_index do |post, index| %>
   <%= render "presentation_post", post: post, index: index %>
   <% end %>
   <% end %>
</section>
<% if @importants %>
<section id="important" class="wrapper style2">
   <h2 class="center">Annonces importantes</h2>
   <% @importants.each_with_index do |important_post, index| %>
   <div class="container" id="<% important_post.title %>">
   <%= render "presentation_post", post: important_post, index: index %>
</div>
<% end %>
</section>
<% end %>
<% if @gallery %>
<section id="gallery" class="wrapper style1">
   <div class="container" id="lastgallery">
      <h2 class="center">Dernières photos</h2>
      <%= render "gallery", gallery: @gallery %>
   </div>
</section>
<% end %>
<section id="events" class="wrapper style4">
   <div class="container justify" id="eventscalendar">
      <h2 class="center">les événements</h2>
      <iframe src="https://calendar.google.com/calendar/htmlembed?mode=AGENDA&amp;title=SHiELD%20Tournament&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;hl=fr&amp;bgcolor=%23FFFFFF&amp;src=39hq85fe2f6epeer3dobs11hu0%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=Europe%2FParis" style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
   </div>
</section>