<section id="resume" class="wrapper style1">
  <div class="inner">
    <article class="feature left">
      <span class="image">
        <img src="" />
      </span>
      <div class="content">
        <h2>I've been up to some shit</h2>
        <p>Are we gonna rock out or what ?</p>
      </div>
    </article>
    <article class="feature right">
      <span class="image">
        <img src="" />
      </span>
      <div class="content">
        <h2>I've been up to some shit</h2>
        <p>Are we gonna rock out or what ?</p>
      </div>
    </article>
    <%= link_to "Wanna see my .. blog ?", posts_path, class: "button special" %>
  </div>
</section>
