<section id="tv" class="wrapper style1">
   <section class="container style1 justify">
      <div class="style1" id="tv-center">
         <iframe
             src="http://player.twitch.tv/?channel=shieldparis"
             height="500"
             width="70%"
             frameborder="0"
             scrolling="no"
             allowfullscreen="true">
         </iframe>
         <iframe frameborder="0"
                 scrolling="no"
                 id="chat_embed"
                 src="http://www.twitch.tv/shieldparis/chat"
                 height="500"
                 width="30%">
         </iframe>
      </div>
   </section>
</section>