<div class="row uniform 75%">
  <% if @post.errors.any? %>
  <div id="error_explanation" class="12u$">
    <div class="danger">
      The form contains <%= pluralize(@post.errors.count, "error") %>.
    </div>
    <ul class="danger">
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
