<section id="banner">
  <i class="icon fa-book"></i>
  <h2>dat blog dho</h2>
  <p>Coucou here what im saying</p>
  <ul class="actions">
    <li><a href="#" class="button big special">Who am I ?</a></li>
  </ul>
</section>
