<section id="article" class="wrapper style1">
  <div class="container">
    <%= simple_format @post.text, class: "justify"  %>
    <% if logged_in? && @current_user.id === @post.user.id %>
    <%= link_to 'Edit', edit_post_path, class: "button alt" %>
    <% end %>
    <%= render "back" %>
  </div>
</section>
