@import "breakpoint";
@import "require/size";

#banner {
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .icon {
            font-size:2em !important;
        }
        h1 {
            line-height:2em;
        }
}

#menu_icon {
           color:white;
           padding:0px 10px;
}

#main_icon {
    margin:0px auto;
}


@include breakpoint($medium) {
    #banner * {
        font-size:2em;
    }
    #banner img {
        height:50%;
        width:50%;
    }
}