@import "breakpoint";
@import "require/size";

#dropdown {
    position: relative;
    display: inline-block;
    text-align:center;
}

#menu_content {
    display:flex;
    position:initial;
    list-style:none;
    flex-direction:row;
    justify-content:space-around;
    padding:0px;
    margin:0px;
    > * {
        padding:0px;
        margin:0px;
        vertical-align:middle;
        > * {
            line-height:inherit;
            color:grey;
        }
    }
    .dropdown-item {
        text-align:center;
        width:100%;
        height:100%;
        display:block;
        color:#9d9d9d !important;
    }
    .dropdown-item:hover{
        background-color:#dedede;
    }
    color:#82A4CC;
    width:inherit;
    z-index: 1;
    top:2em;
}

#menu_icon {
    display:none;
}

@include breakpoint($small) {
    #menu_icon{
        display:inline-block;
        cursor:pointer;
    }

    #menu_checkbox:checked ~ #menu_content{
        display:flex;
    }

    #menu_content {
        position:absolute;
        display:none;
        flex-direction:column;
        background-color: #323E53;
        .dropdown-item{
            padding:20px 0px;
        }
    }
}

@include breakpoint($xsmall) {
    #menu_icon{
        display:inline-block;
        cursor:pointer;
    }

    #menu_checkbox:checked ~ #menu_content{
        display:flex;
    }

    #menu_content {
        position:absolute;
        display:none;
        flex-direction:column;
        background-color: #323E53;
        .dropdown-item{
            padding:20px 0px;
        }
    }
}

@include breakpoint($medium) {
    #menu_icon{
        display:inline-block;
        cursor:pointer;
    }

    #menu_checkbox:checked ~ #menu_content{
        display:flex;
    }

    #menu_content {
        position:absolute;
        display:none;
        flex-direction:column;
        background-color: #323E53;
        .dropdown-item{
            padding:20px 0px;
        }
    }
}