@import 'breakpoint';
@import 'require/size';

.thumbnails {
            display:flex;
            flex-wrap:wrap;
            flex-direction:row;
            justify-content:center;
            list-style:none;
}

.thumbnails>li{
        background-color:transparent;
        padding-left:0px;
}

ul.thumbnails {
    padding:10px 0px!important;
}