@import 'breakpoint';
@import 'require/size';

.thumbnails {
            display:flex;
            flex-wrap:wrap;
            flex-direction:row;
            justify-content:center;
            list-style:none;
}

.thumbnails>li{
        border:1px solid #c5c5c5;
        background-color:transparent;
        margin:20px;
        padding-left:0px;
}

.thumbnail>img{
        padding:20px;
}

.thumbnails>li:focus{
        background-color:white;
        border:1px solid #3989B7;
}

.thumbnails>li:hover{
        background-color:white;
        border:1px solid #3989B7;
}