@import "breakpoint";
@import "require/size";

#header > label {
    position:initial;
    text-align:center;
    padding: 0px 20px;
    margin:0px;
}

#header > h1 {
    position:initial;
    padding : 0px 20px;
    text-align:center;
}

#header {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

@include breakpoint($small) {
    #header {
        > h1 {
            position:fixed;
            left:0;
        }
        display:inline-block;
        font-size:200%;
        line-height:2em;
        height:inherit !important;
    }
}

@include breakpoint($medium) {
    #header {
        > h1 {
            left:0;
            position:fixed;
        }
        display:inline-block;
        font-size:200%;
        line-height:2em;
        height:inherit !important;
    }
}

@include breakpoint($xsmall) {
    #header {
        > h1 {
            left:0;
            position:fixed;
        }
        display:inline-block;
        font-size:200%;
        line-height:2em;
        height:inherit !important;
    }
}