.img-circle {
            border-radius: 50%;
}

img.bordered {
              padding: 4px;
              border: 1px solid #ddd;
              background-color: #f7f7f7;
}

img.size50 {
            height:50%;
            width:50%;
}

img.height-max-50 {
                  height:50%;
}

.image{
        max-height:200px;
        overflow:hidden;
}