@import "breakpoint";
@import "require/size";

.thumbnail {
          display: inline-block;
          text-align: center;
}

a.thumbnail {
            display: inline-block;
}

.thumbnail-title {
                 display: inline-block;
}

span.thumbnail-over-image{
        position: relative;
        margin-top:-60px;
}