span.thumbnail {
               display: inline-block;
               text-align: center;
}

a.thumbnail {
            display: inline-block;
}

.thumbnail-title {
                 display: inline-block;
}