<section id="banner" style="background-image:url('<%= image_path 'banner.png' %>')">
<div class="inner center">
   <i class="icon fa-picture-o"></i>
   <% if @gallery != nil %>
   <h2><%= @gallery.title %></h2>
   <% end %>
   <p>Nuclear</p>
   <p>launch</p>
   <p>detected</p>
</div>
</section>
