<section id="banner" style="background-image:url('<%= image_path 'banner.png' %>')">
<div class="inner center">
   <% if @gallery != nil %>
   <h2><%= @gallery.title %></h2>
   <% end %>
   <h1>Nuclear launch detected</h1>
</div>
</section>
