<section id="one" class="wrapper style1">
   <% if @categories.any? %>
   <% @categories.each_with_index do |category, index| %>
   <div class="inner">
      <%= render "category_presentation", category: category, index: index %>
   </div>
  <% end %>
  <% if logged_in? %>
  <div class="inner" style="text-align:center;">
     <%= link_to 'New', new_category_path, class: "button big special" %>
  </div>
  <% end %>
  <% else %>
  <div class="inner center">
     <p>Pas encore de catégorie sur le site</p>
  </div>
  <% end %>
</section>
