<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <a href="https://www.twitter.com/shieldparis" class="icon fa-twitter">
	  <span class="label">Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/shieldp" class="icon fa-facebook">
	  <span class="label">LinkedIn</span>
        </a>
      </li>
    </ul>
    <ul class="copyright">
      <li>© 2016 - FAXAQ</li>
      <li>Designed with <i class="icon fa-heart"></i> and with <a href="http://templated.co/retrospect">TEMPLATED RETROSPECT</a>.</li>
    </ul>
  </div>
</footer>
