<!-- header -->
<header id="header" class="alt">
   <h1><a href="/"><i class="icon fa-anchor"></i></a></h1>
   <% if logged_in? %>
   <h1>Logged in as : <%= link_to @current_user.name, @current_user %></h1>
   <%= link_to "Log out", logout_path, method: :delete, class: "button special small" %>
   <% end %>
</header>