<section id="banner" style="background-image:url('<%= image_path 'banner.png' %>')">
  <h2>shield</h2>
  <p>sup ?</p>
  <ul class="actions">
    <li><a href="/#resume" class="button big special">Who am I ?</a></li>
  </ul>
</section>
