<section class="container style1 justify">
   <div class="inner style1">
      <header>
         <h4><%= post.title %></h4>
      </header>
      <article>
         <div class="content">
            <%= markdown post.text %>
         </div>
      </article>
   </div>
</section>