<section class="container style1 justify">
   <div class="inner style1">
      <article>
         <header>
            <h4><%= post.title %></h4>
         </header>
         <div class="content">
            <%= markdown post.text %>
         </div>
      </article>
      <% if post.galleries.any? %>
      <% post.galleries.each do |gallery| %>
      <%= render "gallery", gallery: gallery %>
      <% end %>
      <% end %>
   </div>
</section>