<section id="banner">
  <i class="icon fa-anchor"></i>
  <h2>Marin Procureur</h2>
  <p>Coucou</p>
  <ul class="actions">
    <li><a href="/#resume" class="button big special">Who am I ?</a></li>
  </ul>
</section>
